{%extends 'index.html' %}
{% block title %}Branch Lists{% endblock title %}

{% block content %}
<ul>
        {% for snippet in Bank_list %}
          <li>
            <a href="{% url 'Bank:detail' Bank.id %}">{{ Bank.name }}</a>
          </li>
        {% endfor %}
      </ul>
{% endblock content%}